<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_snowpacker_tag 'application' %1> %>
    <%= javascript_include_tag '/snowpacks/application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
