<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag '/snowpacks/packs/application', type: "module" %>
    <%= stylesheet_link_tag '/snowpacks/stylesheets/index' %>

    <script>window.HMR_WEBSOCKET_URL = "ws://localhost:3000"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
